<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos/styles.css') }}">

    <title>Nuevo Ticket</title>
</head>
<body>
    <header>
 <h1>inphonity </h1>
    </header>
    <nav>
       <a href="/inicio_cc">Inicio</a>
        <a href="/tickets">Detalle de ticket</a>
        <a href="/">Crear ticket</a>
    
        
    </nav>

<form method="POST" action="/crear_ticket">

<h3>👤 Datos del Ejecutivo</h3>
Nombre: <input type="text" name="ejecutivo_nombre"><br>
<br>
Email: <input type="email" name="ejecutivo_email"><br>

<h3>👥 Cliente</h3>
Nombre: <input type="text" name="cliente_nombre"><br>
<br>
Correo: <input type="email" name="cliente_correo"><br>
<br>
DN Afectado: <input type="text" name="dn_afectado" pattern="\d{10}" maxlength="10" minlength="10" required title="A 10 números"><br><br>
DN Contacto: <input type="text" name="dn_contacto" pattern="\d{10}" maxlength="10" minlength="10" required title="A 10 números"><br><br>

Rol: <select name="rol" id="rol" onchange="mostrarCampos()">
    <option value="seleccione">Seleccione</option>
    <option value="Vendedor">Vendedor</option>
    <option value="Socio">Socio</option>
    <option value="inphonity">inphonity</option>
</select><br><br>
Canal de contacto:
<select name="canal" id="canal" onchange="mostrarCampos()">
    <option value="seleccione">Seleccione</option>
    <option value="VOZ">VOZ</option>
    <option value="CHAT">CHAT</option>
    <option value="WHATSAPP">WHATSAPP</option>
</select><br><br>
Link de genesys: <input type="text" name="link"><br>

<!-- ================= interaccion ================= -->

    <h3>📝 interacciones</h3>
    Descripción de la interaccion: <input type="text" name="descripcion_error"><br>
<input type="hidden" name="categoria" value="interaccion">




<br>
<div>
    <h3>
       <button type="submit">Guardar</button>
</form>     
    </h3>

</div>

</body>
</html>
